*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
body{
    font-family: '微软雅黑', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    background: #f7f7f7;
}